body, nav{
  text-align: center;
  justify-content: center;
  margin: 1rem auto;
  width: 600px;

}

main {
    height: 100%;
    border: solid 1px;
    /* align-items: center; */
}

.main-content {
  /* margin: 0 auto; */
}

.footer, .push {
    height: 3rem;
} */



.content {
  min-height: 50%;
}


body {
  font: 16px Sans-Serif;
}


#footer {
  margin: 20px 0px;
  background: #42A5F5;
  color: white;
  /* adjust height of footer*/
  line-height: 50px;
}